page-login {
  .login-content {
    background: white;
    overflow-x:scroll;
    overflow-y:hidden;

    .logo-row {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .login-box {
      //background: #399F8B;
      padding: 0px 10px 0px 10px;
      margin-top: 0px;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-input{
      font-family: "Boogaloo";
      color: #008cff;
      border-radius: 15px !important;
      padding-left: 30px !important;
      //font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #008cff;
      //border-bottom: 0px !important;
      box-shadow: none !important;
      background-color: white !important;
    }

    ion-item {
      font-family: "Boogaloo";

    }

    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }

    .item-inner {
      border-bottom-color: #ffffff !important;
      box-shadow: none !important;
    }

    .submit-btn {
      font-family: "Boogaloo";
      background: #008cff;
      border-radius: 30px !important;
      border: 1px solid #ffffff;
      color: white;
    }

    .register-btn {
      font-family: "Boogaloo";
      color: #ffffff;
      font-size: 0.8em;
    }
  }

}
