

<ion-content class="login-content" padding style="position: absolute;z-index: 3">
    <ion-row class="logo-row">
        <ion-col width-67>
            <img src="assets/imgs/logo.png" height="200" width="200" style="width: 46%;height: 6%;" />
            <div class="login-box">
                <ion-row >
                    <ion-col>
                        <ion-list inset>
                            <ion-item>
                                <ion-icon ios="ios-person" md="md-person"></ion-icon>
                                <ion-input placeholder="Usuario"  class="text-color-place" [(ngModel)]="email"></ion-input>
                            </ion-item>

                            <ion-item>
                                <ion-input type="password" placeholder="Contraseña" class="text-color-place" [(ngModel)]="password"></ion-input>
                            </ion-item>

                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col class="signup-col">
                        <button (click)="iniciar_sesion()"
                                ion-button
                                block
                                class="submit-btn" full
                                >Iniciar sesión</button> 
                    </ion-col>
                </ion-row>
            </div>
        </ion-col>
    </ion-row>

</ion-content> 