<ion-header>

  <ion-navbar color="principal">
    <ion-buttons left>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="texto_centrado">Inicio</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>

 
<div class="collapse" id="collapseExample">
	 

<ion-searchbar placeholder="BookingId" [(ngModel)]="filterBookingIdLike"   (keyup)="filterTable($event)" (change)="filterTable($event)" ></ion-searchbar>

<ion-searchbar placeholder="BookingId >= " [(ngModel)]="filterBookingIdMajor"   (keyup)="filterTable($event)" (change)="filterTable($event)" ></ion-searchbar>

<ion-searchbar placeholder="BookingId <= " [(ngModel)]="filterBookingIdMinor"   (keyup)="filterTable($event)" (change)="filterTable($event)" ></ion-searchbar>

<ion-searchbar placeholder="Precio" [(ngModel)]="filterPrecioIdLike"   (keyup)="filterTable($event)" (change)="filterTable($event)" ></ion-searchbar>

<ion-searchbar placeholder="Precio >= " [(ngModel)]="filterPrecioIdMajor"   (keyup)="filterTable($event)" (change)="filterTable($event)" ></ion-searchbar>

<ion-searchbar placeholder="Precio <= " [(ngModel)]="filterPrecioIdMinor"   (keyup)="filterTable($event)" (change)="filterTable($event)" ></ion-searchbar>

</div> 



<ion-grid *ngFor="let booking of bookingsFilterTable">
	<ion-card>
	 
	  <ion-card-content>

	  	<p>
	  		<b>BookingId:</b> {{ booking.bookingId }}
	  	</p>
	  	<p>
	  		<b>Cliente:</b> {{ booking.firstName }} {{ booking.lastName }}
	  	</p>
	  	<p>
	  		<b>Fecha de Creación:</b> {{ booking.bookingTime | date }}
		</p>
		<p>
	  		<b>Dirección:</b> {{ booking.streetAddress }}
	  	</p>
	  	<p>
	  		<b>Precio:</b> {{ booking.bookingPrice | currency }}
	  	</p>
 
 
	  </ion-card-content>
	
	</ion-card>
</ion-grid>

 
</ion-content>
