<!--<ion-menu [content]="content" [swipeEnabled]="false">-->
<ion-menu [content]="content">
 
    <ion-content class="fondo_panel ">
        <ion-list color="principal">
            <button ion-item (click)="abrirPagina(inicio)" class="fuente_letra fondo_panel btn_menu" style="text-align: left">
                <ion-icon ios="ios-home-outline" md="md-home"></ion-icon> &nbsp;Inicio
            </button> 
            <button ion-item (click)="seguro_cerrar_sesion()"class="fuente_letra fondo_panel btn_menu" style="text-align: left">
                <ion-icon ios="ios-lock" md="md-lock"></ion-icon>  &nbsp;Cerrar sesión
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav [root]="rootPage" #content></ion-nav>
